:root {
    --swiper-navigation-color: #ffffff;
    --swiper-theme-color: #ef233c;
}

.swiper {
    width: 100%;
    height: 80vh;
    min-height: 320px;
    background-color: #46677b;
}

.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
}

.swiper-slide::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(359deg, #2b2d42 0%, rgba(40, 42, 62, 0.9375) 6.25%, rgba(38, 39, 58, 0.875) 12.5%, rgba(35, 37, 54, 0.8125) 18.75%, rgba(32, 34, 50, 0.75) 25%, rgba(30, 31, 45, 0.6875) 31.25%, rgba(27, 28, 41, 0.625) 37.5%, rgba(24, 25, 37, 0.5625) 43.75%, rgba(21, 23, 33, 0.5) 50%, rgba(19, 20, 29, 0.4375) 56.25%, rgba(16, 17, 25, 0.375) 62.5%, rgba(13, 14, 21, 0.3125) 68.75%, rgba(11, 11, 17, 0.25) 75%, rgba(8, 8, 12, 0.1875) 81.25%, rgba(5, 6, 8, 0.125) 87.5%, rgba(3, 3, 4, 0.0625) 93.75%, rgba(0, 0, 0, 0) 100%);
}

/*
    Title Text
  */
.title {
    padding: 0 10vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
    color: #ffffff;
}

.title__text {
    letter-spacing: -2px;
    font-size: clamp(3rem, 0.3864rem + 13.0682vw, 8.75rem);
    margin-bottom: 0;
    margin-top: 0;
    position: relative;
}

.title__text::after {
    position: absolute;
    top: 100%;
    content: "";
    display: block;
    width: 100px;
    height: 0.25em;
    background-color: #ef233c;
}

/*
    Style up the image behind each slide
  */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.background-image__image {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.8;
    mix-blend-mode: luminosity;
}