// General
$white: #fff;
$black: #000;
$blue-light: #00b9eb;
$main-bg: #f4f6f9;

// Primary nav
$nav-text-link: #c2c7d0;
$nav-bg: #343a40;
$nav-link-bg-hover: rgba(255, 255, 255, .1);

// Search
$search-bg-results: #454d55;
$search-bg-results-hover: #515a63;
$search-border-results: #56606a;

// Secondary nav
$nav-secondary-link: #00000080;
$nav-secondary-link-hover: #000000b3;
$nav-secondary-border: #dee2e6;