input[type="time"] {
    position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
}

.time-separator {
    margin: 0 3px;
}

#start-time-picker, #end-time-picker {
    font-size: 15px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
        background-color: #2021240a;
    }
}

#start-time-picker {
    margin-left: 16px;
}