:root {
    --body-bg-color: #1a1c1d;
    --text-color: #aaaebc;
    --hr-color: #26292a;
    --transition-duration: 0.3s;
    --transition-delay: 0.2s;
    --red: #e74c3c;
}

nav {
    height: 5rem;
    width: 100vw;
    background-color: var(--body-bg-color);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/* Styling logo
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
    padding: 12px;
    text-align: center;
}

.logo img {
    height: 4rem;
    width: 15rem;
}

/* Styling Links
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
}

.nav-links li a {
    text-decoration: none;
    margin: 0 0.7vw;
    padding: 0.8rem;
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
}

.nav-links li {
    position: relative;
    display: flex;
    width: 20vh;
    align-items: center;
    justify-content: space-around;
}

/* Styling Hamburger Icon
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}

.hamburger {
    display: none;
}

/* Stying for small screens
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 992px) {
    nav {
        position: fixed;
        z-index: 3;
    }

    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }

    .nav-links li a {
        position: relative;
        height: 100%;
        display: flex;
        width: 25vh;
        align-items: center;
        justify-content: center;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -5%);
        pointer-events: all;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    li.fade {
        opacity: 1;
    }
}

/* Animating Hamburger Icon on Click
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Animating Links Navbar on Hover
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.nav-links a {
    position: relative;
    display: block;
}

.nav-links .border {
    position: absolute;
    left: 0;
    background: currentColor;
    transition: transform var(--transition-duration) ease-in-out;
}

.nav-links .border-top,
.nav-links .border-bottom {
    width: 100%;
    height: 1px;
    transform: scaleX(0);
}

.nav-links .border-left,
.nav-links .border-right {
    width: 1px;
    height: 100%;
    transform: scaleY(0);
}

.nav-links .border-top,
.nav-links .border-left,
.nav-links .border-right {
    top: 0;
}

.nav-links .border-bottom {
    bottom: 0;
    transform-origin: bottom right;
}

.nav-links .border-top {
    transform-origin: top left;
}

.nav-links .border-left {
    transform-origin: bottom left;
}

.nav-links .border-right {
    left: auto;
    right: 0;
    transform-origin: top right;
}

.nav-links a:hover .border-top,
.nav-links a:hover .border-bottom {
    transform: scaleX(1);
}

.nav-links a:hover .border-left,
.nav-links a:hover .border-right {
    transform: scaleY(1);
}

.nav-links a:hover .border-right {
    transition-delay: var(--transition-delay);
}

.nav-links a:hover .border-bottom {
    transition-delay: calc(var(--transition-delay) * 2);
}

.nav-links a:hover .border-left {
    transition-delay: calc(var(--transition-delay) * 3);
}