@import '../../styles/variables';

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding-top: 20px;
    width: 220px;
    background: $nav-bg;

    .navbar {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-top: 35px;
        min-height: 100%;

        .primary-nav {

            li.has-dropdown {
                .subitem-dropdown {
                    padding: 0px 15px;
                    max-height: 0;
                    visibility: hidden;
                    transition: max-height 0.5s ease-out, visibility 0.5s ease-out;
                    overflow: hidden;
                }

                .subitem-dropdown.open {
                    max-height: 250px;
                    visibility: visible;
                    transition: max-height .5s ease-out, visibility .5s ease-out;
                }
            }


            a {
                display: flex;
                align-items: center;
                // font-size: 0.9rem;
                padding: 12px 15px;

                .nav-link {
                    color: $nav-text-link;
                }

                svg {
                    margin-right: 10px;
                    fill: $nav-text-link;
                }

                &:hover {
                    background-color: $nav-link-bg-hover;

                    svg {
                        fill: $white;
                    }

                    .nav-link {
                        color: $white;
                    }
                }


                .dropdown {
                    position: absolute;
                    right: 10px;
                    transition: transform .3s ease-in-out;
                }

                .down {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}