@import '@styles/fonts.scss';

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;

    .content {
        padding: 1rem;
        background-color: #f4f6f9;
    }
}